services:
   postgres:
      image: postgres:15-alpine
      container_name: postgres
      ports:
         - "5432:5432"
      environment:
         - POSTGRES_USER=postgres
         - POSTGRES_PASSWORD=postgres
         - POSTGRES_DB=puntored
      volumes:
         - postgres_data:/var/lib/postgresql/data
      networks:
         - backend
   