services:
   postgres:
      image: postgres:15-alpine
      restart: always
      container_name: postgres
      ports:
         - "5438:5432"
      environment:
         - POSTGRES_USER=postgres
         - POSTGRES_PASSWORD=postgres
         - POSTGRES_DB=puntored
      volumes:
         - postgres_data:/var/lib/postgresql/data
      networks:
         - backend
   rabbitmq:
      image: rabbitmq:3-management
      container_name: rabbitmq
      ports:
         - "5672:5672"
         - "15672:15672"
      environment:
         - RABBITMQ_DEFAULT_USER=guest
         - RABBITMQ_DEFAULT_PASS=guest
      networks:
         - backend

networks:
   backend:
      driver: bridge

volumes:
   postgres_data: